{% extends "home/outline.html" %} {% block content %}
<br><br>
<div class="card">
    <div class="card-header" style="white-space: nowrap; overflow: auto">
        <h1>Find PI to the nth number</h1>
    </div>
    <div class="card-body">
        <form action="/pi-tool/" method="get" id="hidesearch">
            <div class="row in-line" style="white-space: nowrap; overflow: auto">
                <h4 style="min-width:300px"><label for="get_k">Enter a Positive Integer: </label></h4>
                <div style="min-width:300px">
                    <input class="form-control-lg" type="number" min="0" max="100000" name="get_k" placeholder="0 ... 100,000" style="min-width:200px" required />
                </div>
                <button type="submit" class="btn btn-primary btn-lg" onclick="showhide('load')">Calculate</button>
            </div>
        </form>
        <br>
        <p>Note: For extreme precision, calculations can take up to 5 minutes until further optimized.</p>
        <div class="loader" id="load" style="display:none"></div>
        <h5><br>
            <p style="text-align: justify">
                {{ pi }}
            </p>
        </h5>
    </div>
</div>
{% endblock %}
