{% extends "home/outline.html" %} {% block content %}
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-block p-3">
                    <h4 class="card-title">PI to the nth number</h4>
                    <p class="card-text">Enter a number and the program will generate PI up to that many decimal places.</p>
                </div>
                <a href=""><span id="ftncard"></span></a>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-block p-3">
                    <h4 class="card-title">e to the nth number</h4>
                    <p class="card-text">Enter a number and the program will generate e up to that many decimal places.</p>
                </div>
                <a href=""><span id="ftncard"></span></a>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-block p-3">
                    <h4 class="card-title">Fibonacci sequence</h4>
                    <p class="card-text">Enter a number and the program will generate the Fibonacci sequence to that number or to the Nth number.</p>
                </div>
                <a href=""><span id="ftncard"></span></a>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-block p-3">
                    <h4 class="card-title">Prime Factorization</h4>
                    <p class="card-text">Enter a number and the program will generate all Prime Factors (if there are any) and display them.</p>
                </div>
                <a href=""><span id="ftncard"></span></a>
            </div>
        </div>
    </div>
    {% endblock %}
