{% extends "home/outline.html" %} {% block content %}
<br><br>
<div class="row in-line">
    <div class="col-3" style="min-width:250px">
        <div class="card homebtn border-primary">
            <div class="card-block p-3" style="white-space:initial">
                <h4 class="card-title">PI to the nth number</h4>
                <p class="card-text">Enter a number and the program will generate PI up to that many decimal places.</p>
            </div>
            <a href="/pi-tool"><span id="ftncard"></span></a>
        </div>
    </div>
    <div class="col-3" style="min-width:250px">
        <div class="card homebtn border-primary">
            <div class="card-block p-3" style="white-space:initial">
                <h4 class="card-title">e to the nth number</h4>
                <p class="card-text">Enter a number and the program will generate e up to that many decimal places.</p>
            </div>
            <a href="/"><span id="ftncard"></span></a>
        </div>
    </div>
    <div class="col-3" style="min-width:250px">
        <div class="card homebtn border-primary">
            <div class="card-block p-3" style="white-space:initial">
                <h4 class="card-title">Fibonacci sequence</h4>
                <p class="card-text">Enter a number and the program will generate the Fibonacci sequence to that number or to the Nth number.</p>
            </div>
            <a href="/"><span id="ftncard"></span></a>
        </div>
    </div>
    <div class="col-3" style="min-width:250px">
        <div class="card homebtn border-primary">
            <div class="card-block p-3" style="white-space:initial">
                <h4 class="card-title">Prime Factorization</h4>
                <p class="card-text">Enter a number and the program will generate all Prime Factors (if there are any) and display them.</p>
            </div>
            <a href="/"><span id="ftncard"></span></a>
        </div>
    </div>
</div>
{% endblock %}
